In [18]:
import pandas as pd
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report

In [5]:
score = pd.read_csv('senti_score.csv')
topic = pd.read_csv('dictionary_label.csv')
ldapred = pd.read_csv('lda_preds.csv')

In [11]:
f1com = ldapred.merge(topic, on = ldapred.index).dropna()

In [13]:
f1score_dict = f1_score(f1com.label, f1com.topic, average='macro')
f1score_lda = f1_score(f1com.label, f1com.pred_r, average='macro')

In [16]:
f1score_lda

0.46852785104313077

In [6]:
ldapred.head()

   article  label  pred_r
0        1   12.0    10.0
1        2   12.0     NaN
2        3   12.0    10.0
3        4   12.0     NaN
4        5   12.0     4.0

In [16]:
topic = topic.merge(score, on = topic.index)

In [17]:
topic_clean = topic.dropna()[['topic_x','senti_score']]

In [18]:
topic_clean.head()

   topic_x  senti_score
0        5          -30
1       12           -4
2        5          -33
3       13          -15
4       13          -15

In [19]:
topic_mean = topic_clean.groupby('topic_x').mean().sort_values('senti_score', ascending=False)

In [20]:
topic_mean

         senti_score
topic_x
7          -2.668246
1          -4.307692
6          -4.791667
9          -5.157895
12         -6.481481
13         -8.506254
3          -9.959184
10        -11.320000
5         -12.009174
2         -12.830508
8         -18.816901
4         -26.459016
11        -30.532609