In [18]:
import pandas as pd
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report

In [21]:
score = pd.read_csv('senti_score.csv')
topic = pd.read_csv('dictionary_label.csv')
ldapred = pd.read_csv('lda_preds.csv')

In [22]:
f1com = ldapred.merge(topic, on = ldapred.index).dropna()

In [23]:
f1score_dict = f1_score(f1com.label, f1com.topic, average='macro')
f1score_lda = f1_score(f1com.label, f1com.pred_r, average='macro')

In [26]:
print(classification_report(f1com.label, f1com.topic))

              precision    recall  f1-score   support

         1.0       0.62      0.89      0.73        37
         2.0       0.74      0.90      0.81        69
         3.0       0.98      0.78      0.87        80
         4.0       0.97      0.59      0.73        49
         5.0       0.97      0.69      0.81        49
         6.0       0.93      0.63      0.75        63
         7.0       0.81      0.84      0.83        57
         8.0       0.83      0.83      0.83        72
         9.0       0.62      0.59      0.61        76
        10.0       0.62      0.87      0.72        15
        11.0       0.89      0.73      0.80        33
        12.0       0.86      0.92      0.89        61
        13.0       0.64      0.97      0.77        72

    accuracy                           0.79       733
   macro avg       0.81      0.79      0.78       733
weighted avg       0.82      0.79      0.79       733

In [27]:
print(classification_report(f1com.label, f1com.pred_r))

              precision    recall  f1-score   support

         1.0       0.46      0.70      0.55        37
         2.0       0.29      0.32      0.30        69
         3.0       0.69      0.59      0.64        80
         4.0       0.55      0.59      0.57        49
         5.0       0.67      0.73      0.70        49
         6.0       0.61      0.48      0.54        63
         7.0       0.47      0.49      0.48        57
         8.0       0.88      0.78      0.82        72
         9.0       1.00      0.29      0.45        76
        10.0       0.18      0.60      0.28        15
        11.0       0.38      0.45      0.41        33
        12.0       0.51      0.52      0.52        61
        13.0       0.56      0.60      0.58        72

    accuracy                           0.54       733
   macro avg       0.56      0.55      0.53       733
weighted avg       0.60      0.54      0.55       733

In [25]:
f1score_dict

0.781766241929566

In [24]:
f1score_lda

0.5253482458503326

In [6]:
ldapred.head()

   article  label  pred_r
0        1   12.0    10.0
1        2   12.0     NaN
2        3   12.0    10.0
3        4   12.0     NaN
4        5   12.0     4.0

In [16]:
topic = topic.merge(score, on = topic.index)

In [17]:
topic_clean = topic.dropna()[['topic_x','senti_score']]

In [18]:
topic_clean.head()

   topic_x  senti_score
0        5          -30
1       12           -4
2        5          -33
3       13          -15
4       13          -15

In [19]:
topic_mean = topic_clean.groupby('topic_x').mean().sort_values('senti_score', ascending=False)

In [20]:
topic_mean

         senti_score
topic_x
7          -2.668246
1          -4.307692
6          -4.791667
9          -5.157895
12         -6.481481
13         -8.506254
3          -9.959184
10        -11.320000
5         -12.009174
2         -12.830508
8         -18.816901
4         -26.459016
11        -30.532609